.pantry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  min-height: 45rem;
  margin: 7rem auto;
  background-color: #FDFFFC;
  border: 1px lightgray solid;
}

.pantryList {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.pantry h2 {
  font-family: "Heebo";
  font-size: 2rem;
}

.pantryListItem {
  font-size: 1.6rem;
  list-style: none;
  font-family: "Hind Siliguri";
  padding: .35rem;
  border-radius: .6rem;
  max-width: 50rem;
  margin: 0 auto;
  cursor: pointer;
}

.pantryListItem:hover {
  background-color: lightgray;
}
.pantryListItem p {
  margin: 0;
  padding: inherit;
}

.pantryListItem svg {
  font-size: 2rem;
  margin-left: 1rem;
  padding: inherit;
}
.pantryListItem svg:hover {
  font-size: 2.2rem;
}

.pantryListItem svg:active {
  transform: translateY(.2rem);
}

@media screen and (max-width:768px) {
  .pantry {
    width: 100%;
    border: none;
  }
}

.pantryTable td {
  min-width: 7rem;
  margin-left: 2rem;
  text-align: left;
}
.pantryTable thead {
  width: 25rem;
}
.pantryTable tr {
  width: 40rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.pantryTable thead th {
  margin-left: 6.5rem;
  font-size: 1.5rem;
}

caption {
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
