#pantry {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 45rem;
  margin: 7rem auto;
}
.pantryList {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.pantryHeading {
  font-family: 'Heebo';
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pantry {
    width: 100%;
    border: none;
  }
  .table-styled {
    width: 100%;
  }
}
