.pantry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  min-height: 45rem;
  margin: 7rem auto;
  background-color: #FDFFFC;
  border: 1px lightgray solid;
}
.pantryList {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.pantry h2 {
  font-family: "Heebo";
  font-size: 2rem;
}
@media screen and (max-width:768px) {
  .pantry {
    width: 100%;
    border: none;
  }
  .table-styled {
    width: 100%;
  }
}

