@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind+Siliguri&family=Yantramanav&display=swap');

html {
  margin: 0;
  font-size: 62.5%;
  font-size: 10px;
  background-color: #f7f7ff;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  outline: none;
}
#root {
  width:100%;
  background-color: #f7f7ff;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: transparent;
  padding: 0;
  border-radius: .6rem;
}
button:active {
  transform: translateY(.1rem);
}
h1 {
  font-family:   "Heebo";
}
label {
  font-family: "Hind Siliguri";
  font-size: 1.4rem;
}
input {
  font-size: 1.2rem;
  font-family: inherit;
  padding: .25rem .35rem;
  background-color: #F7F7FF;
  border: 1px solid #d5d5d5;
  font-family: "Hind Siliguri";
  border-radius: .7rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
.stdbutton {
  background-color: dodgerblue;
  color: #F7F7FF;
  font-family: "Hind Siliguri";
  font-size: 1.6rem;
  padding: .35rem;
  border-radius: .6rem;
  width: 18rem;
}
.stdbutton:hover {
  background-color: #135CA3;
}

@media screen and (max-width: 768px) {
  #root {
    background-color: white;
  }
}

.table-styled {
  border-collapse: collapse;
  min-width: 40rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  font-size: 1.6rem;
  font-family: "Hind Siliguri", sans-serif;
  overflow: hidden;
  margin: 2.5rem 0;
}
.table-styled td ,
.table-styled th {
  padding: 1.2rem 1.5rem;
}
.table-styled thead tr {
  background-color: #264653;
  border-radius: .6rem .6rem 0 0;
  color: #FDFFFC;
  text-align: left;
}
.table-styled tbody tr {
  border-bottom: thin solid #dddddd;
  cursor: pointer;
}
.table-styled tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.table-styled tbody tr:last-of-type {
  border-bottom: .2rem solid #264653;
}
.table-styled tbody tr:hover {
  font-weight: 700;
  background-color: lightgray;
}
caption {
  font-family: "Heebo", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
