@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind+Siliguri&family=Yantramanav&display=swap');

body {
  margin: 0;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  outline: none;
}
#root {
  width:100%
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: transparent;
  padding: 0;
  border-radius: .6rem;
}
button:active {
  transform: translateY(.1rem);

}

label {
  font-family: "Hind Siliguri";
  font-size: 1.4rem;
}
input {
  font-size: 1rem;
  font-family: inherit;
  padding: .25rem .35rem;
  background-color: #fff;
  border: 2px solid #d5d5d5;
  margin-left: .7rem;
  font-family: "Hind Siliguri";
  border-radius: .7rem;
}
/* Global Style for buttons to make dev work easier */
.stdbutton {
  background-color: dodgerblue;
  color: #fff;
  font-family: "Hind Siliguri";
  font-size: 1rem;
  padding: .35rem;
}
.stdbutton:hover {
  background-color: #135CA3;
}
