.landingpage__signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.landpage__title {
  font-family: 'Heebo';
}

.landpage__text {
  font-size: 1rem;
  font-family: "Hind Siliguri";
}

.landpage__textbox {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.landpage__imagecontainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: .6rem;
}

.form__label {
  font-family: "Hind Siliguri";
  font-size: 500rem;
}
.form__textfield {
  margin-left: .5rem;
  outline: none;
}

.signup__button {
  margin-left: 1rem;
  background-color: dodgerblue;
  color: #fff;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,0,.2);
  padding: .35rem;
  outline: none;
  font-family: "Hind Siliguri";
}
.signup__button:hover {
  background-color: #135CA3;
}
.signup__button:active {
  outline: none;
  transform: translateY(.1rem);
}
