.error {
  font-size: 1.8rem;
  color: red;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 1rem auto;
  font-family: "Hind Siliguri";
}
.errors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}
.formfield {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.formfield label {
  width: 12rem;
  font-size: 1.8rem;
}
.formfield input {
  font-size: 1.8rem;
}
.login__buttonContainer {
  display: flex;
  justify-content: center;
}
.loginForm button {
  background-color: dodgerblue;
  color: #fff;
  font-family: "Hind Siliguri";
  font-size: 2rem;
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
}
.loginForm button:hover {
  background-color: #135CA3;
}

.signup__link {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.signup__link span {
  font-size: 2rem;
}
.signup__link span button {
  font-size: 2rem;
  color: dodgerblue;
}

#demoLogin {
  margin-left: .5rem;
  width: 8rem;
}

#signuplink {
  background-color: #f7f7FF;
  color: dodgerblue;
  font-size: 2rem;
}
