.auth__wrapper {
  background-color: #fdfffc;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.auth__image {
  background-image: url(../images/brooke-lark-jUPOXXRNdcA-unsplash.jpg);
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
}
.error {
  font-size: 1.8rem;
  color: red;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* margin: 5rem auto; */
  font-family: 'Hind Siliguri';
  background-color: #fdfffc;
  border-radius: 1.2rem;
  padding: 2rem;
}
.formfield {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.formfield label {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.formfield input {
  font-size: 1.8rem;
}
.login__buttonContainer {
  display: flex;
  justify-content: center;
}
.loginForm button {
  background-color: dodgerblue;
  color: #fff;
  font-family: 'Hind Siliguri';
  font-size: 2rem;
  width: 12rem;
  height: 3rem;
  margin-top: 1rem;
}
.loginForm button:hover {
  background-color: #135ca3;
}

.signup__link {
  display: flex;
  justify-content: center;
}
.signup__link span {
  font-size: 2rem;
}
.signup__link span button {
  font-size: 2rem;
  color: dodgerblue;
}

#demoLogin {
  margin-left: 0.5rem;
}

#signuplink {
  background-color: #fdfffc;
  text-align: left;
  color: dodgerblue;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .auth__image {
    height: 0;
    width: 0;
  }
  .loginForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}
