.error {
  font-size: 1.2rem;
  color: red;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  font-family: "Hind Siliguri";
}
.errors__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.formfield {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
.formfield label {
  width: 8rem;
}
.login__buttonContainer {
  display: flex;
  justify-content: center;
}
.loginForm button {
  background-color: dodgerblue;
  color: #fff;
  font-family: "Hind Siliguri";
  font-size: 1.4rem;
  width: 5rem;
  height: 2.7rem;
}
.loginForm button:hover {
  background-color: #135CA3;
}

.signup__link {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}
.signup__link span {
  font-size: 1.2rem;
}

#demoLogin {
  margin-left: .5rem;
  width: 8rem;
}
