.shoppingList {
  display: flex;
  justify-content: space-between;

}
.shoppingList a {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: "Hind Siliguri";
  color: inherit;
  margin-bottom: 1.25rem;
}
.shoppingList a:visited {
  text-decoration: none;
  color: inherit;
}

.shoppingList a:hover {
  transform: translateY(.1rem);
}

.shoppingList a:active {
  transform: translateY(.25rem);
}

.dashboard__shoppingListContainer {
  width: 50%;
  margin: 0 auto;
}

.shoppingList__buttons {
  font-size: 1.6rem;
  margin-left: 1.4rem;
}
.dashboard__title {
  width: 15rem;
  margin: 0 auto;
  text-align: center;
}
.dashboard__button {
  display: block;
  margin: 0 auto;
  width: 16rem;
}
.pantryLink {
  display: block;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Hind Siliguri";
  text-align: center;
  width: 14rem;
  color: #F7F7FF;

}

@media screen and (max-width: 768px) {
  .dashboard__shoppingListContainer {
    width: 100%;
    margin: .5rem;
  }
  .shoppingList {
    justify-content: center;
  }
  .shoppingList a {
    width: 12rem;
  }
  .dashboard__button {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .shoppingList__form {
    width: 95%;
  }
}
