.shoppingList__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  min-height: 45rem;
  margin: 7rem auto;
  border: 1px lightgray solid;
  background-color: #fdfffc;
}

.shoppingList__title {
  font-size: 2rem;
  font-family: 'Heebo';
  font-weight: 700;
  text-align: center;
}

.shoppingListItem td svg {
  font-size: 1.5rem;
  margin-left: 1rem;
  box-sizing: border-box;
}
.shoppingListItem td svg:hover {
  font-size: 1.8rem;
}

.shoppingListItem td svg:active {
  transform: translateY(0.2rem);
}

#addToInv {
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  width: 55%;
}

@media screen and (max-width: 768px) {
  .shoppingList__container {
    width: 100%;
    border: none;
  }
  .shoppingListItem {
    font-size: 1.2rem;
    width: 100%;
  }
  ul {
    padding: 0;
  }
  #addToInv {
    width: 100%;
  }
}
