.shoppingList__title {
  font-size: 2rem;
  font-family: 'Heebo';
  font-weight: 700;
  text-align: center;
}
.shoppingList__buttons {
  font-size: 2rem;
}
.shoppingList__buttonContainer {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.shoppingListItem td svg {
  font-size: 1.5rem;
  margin-left: 1rem;
  box-sizing: border-box;
}
.shoppingListItem td svg:hover {
  font-size: 1.8rem;
}

.shoppingListItem td svg:active {
  transform: translateY(0.2rem);
}

#addToInv {
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  width: 55%;
}

#editList {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#editList input {
  width: 65%;
  background-color: white;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .shoppingList__container {
    width: 100%;
    border: none;
  }
  .shoppingListItem {
    font-size: 1.2rem;
    width: 100%;
  }
  ul {
    padding: 0;
  }
  #addToInv {
    width: 100%;
  }
}
