.shoppingListForm {
  display: flex;
  flex-direction: column;
  font-family: "Hind Siliguri";
  font-size: 1.6rem;
}
.shoppingListForm h2 {
  font-family: "Heebo";
  margin-bottom: .3rem;
  margin-top: 0;
  font-weight: 700;
  font-size: 2rem;
}
.shoppingListForm input {
  margin-bottom: 1.4rem;
}
.shoppingListForm select {
  margin-bottom: 1.4rem;
  background-color: #f5f5f5;
  font-size: inherit;
  border-radius: 1rem;
  padding: .3rem;
}
.shoppingListForm button {
  margin:0 auto;
  margin-bottom: 1.4rem;

}

#deleteItem {
  margin: 0 auto;
  display: block;
  background-color: red;
}
