.shoppingList__form {
  margin: 0 auto;
  width:15%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.shoppingList__form input {
  font-size: 1.5rem;
}
.shoppingList input {
  font-size: 1.5rem;
}
.shoppingList__form button {
  width: 65%;
  margin: 0 auto;
  margin-top: 1rem;
}
.errors {
  width: 100%
}

.errors li {
  font-size: 1.6rem;
  color: red;
}

@media screen and (max-width: 768px) {
  form {
    width:100%;
  }
  form button {
    width: 80%;
  }
}
