.shoppingList__form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.shoppingList__form input {
  margin: 0 auto;
  font-size: 1.5rem;
}
.shoppingList input {
  font-size: 1.5rem;
}
.shoppingList__form button {
  margin: 0 auto;
  margin-top: 1rem;
}
.errors {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.errors li {
  list-style: none;
  margin: 0 auto;
  width: 50%;
  font-size: 1.6rem;
  color: red;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  form button {
    width: 80%;
  }
}
