.navbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #264653;
  font-family: "Heebo", sans-serif;
  transition: height .75s ease-in;
}
.navbar__mobile {
  display: flex;
  align-items: center;
}
.navlink button {
  display: inline-block;
  font-family: "Heebo";
  color: #FDFFFC;
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 1rem;
}
.navbar__logo {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  color: #FDFFFC;
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}
.navbar__logo:visited {
  text-decoration: none;
  color: inherit;
}
.navlinks-toggle {
  display: inline-block;
  align-items: flex-start;
  font-size: 2rem;
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  .navbar__navlinks {
    display: none;
    transform: translateX(350%);
    animation: reveal 1.5s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    list-style: none;
  }
  .navlinks-active{
    position: absolute;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
  }
  .navbar__mobile {
    margin-top: .1rem;
    position: absolute;
    top: 0%;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar__navlinks {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  .navlink {
    display: inline-block;
    text-align: left;
  }
  .navlinks-toggle {
    display: none;
  }
}

@keyframes
reveal {
  from {
    opacity: 0;
    transform: translateX(350%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes
hide {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 1;
    transform: translateX(350%);
  }
}
