.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1E1E24;
  background-color: #BDFFFD;
  font-family: "Heebo", sans-serif
}

.navlink {
  display: inline-block;
  color: #1E1E24;
  margin-right: 1rem;
}
.navbar__logo {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.navlinks-toggle {
  display: inline-block;
  align-items: flex-start;
}

.navbar__navlinks {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar__navlinks {
    display: inline-block;
  }
  .navlinks-toggle {
    display: none;
  }
}
